@import "tailwindcss";
@font-face {
    font-family: Poetsen One;
    src: url("../assets/fonts/PoetsenOne-Regular.ttf");
}

@theme {
    --font-PoetsenOne: Poetsen One, "sans-serif";
    --color-primary: #1F376F;
}